/* *{background-color: white;} */
/* .card{
    border: none;
    border-color:red;
} */
/* 
@media (min-width: 992px) {
    .navbar-nav li a {
      line-height: 85px;
    }
  }
@media (max-width: 991px) {
    .navbar-brand {
      float: none;
    }
  }
  .navbar-toggler {
    border: none;
    width: 1em;
    float: right;
  } */
a.all{
  color: white
}
.all>a:hover{
  color: white;
}
.all>a:visited{
  color: white;
}


  .exe{
    position: fixed;
  }

  .card-ex {
    position: fixed;
    float:left;
    top:0; 
    bottom: 0;
    height: 100%;
    width: 25%;
    max-width:90%; height: 100%; margin:0;
  }
.modal .modal-dialog-aside{
	width: 250px;
	max-width:80%; height: 100%; margin:0;
  transform: translate(0); transition: transform .2s;
}
.page-content {
    position: absolute;
    margin-right: -220px;
}
main{
  position: absolute;
  z-index: 1;
}
.exe{
  position: fixed;
  bottom:0;
  top:0;
}
.modal .modal-dialog-aside .modal-content{ 
   height: inherit; 
   border:0; border-radius: 0; 
   background-color:black; 
   color:white;}
.modal .modal-dialog-aside .modal-content .modal-body{ 
  overflow-y: auto }
.modal.fixed-left .modal-dialog-aside{ 
  margin-left:auto;  
  transform: translateX(100%); }
.modal.fixed-right .modal-dialog-aside{
   margin-right:auto; 
   transform: translateX(-100%); }

.modal.show .modal-dialog-aside{ 
  transform: translateX(0);  }

  /* for the about part */

body.offcanvas-active{
	overflow:hidden;
}
.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    z-index: 1;
    top:0; 
    bottom: 0;
    opacity: 0.9;
    left:25%;
    width: 35%;
    margin-left :0;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    /* transition: visibility .2s ease-in-out, transform .2s ease-in-out; */
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-70%);
  }
}
.content{
  position: fixed;
  z-index: 1;
  top:0; 
  bottom: 0;
  left: 0;
  width: 20%;
  margin-left :0;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  background-color: black;
}
/* end there */



